<div *ngIf="authenticated$ | async">
    <button mat-icon-button [mat-menu-trigger-for]="profile">
        <mat-icon>face</mat-icon>
      </button><span class="username">{{(user$ | async).name}}</span>
      <mat-menu x-position="before" #profile="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
</div>
