// form {
//   display: flex;
//   flex-direction: column;
//   > * {
//     width: 100%;
//   }
// }


mat-card-title {
  text-transform: uppercase;
}

mat-card {
  max-width: 50%;
  margin: 4em auto;
  text-align: center;
}

mat-card-content {
  padding: 0 2em;
}
