<mat-card *ngIf="!!credentials">
  <mat-card-title i18n>Sign In</mat-card-title>
  <mat-card-content>
    <mat-error class="login-error" *ngIf="loginError$ | async">{{ loginError$ | async}}</mat-error>
    <form #form="ngForm" (ngSubmit)="form.valid && login()" fxLayout="column">
      <mat-form-field>
        <input
            matInput
            required
            placeholder="Email"
            i18n-placeholder="Email input|Email input placeholder@@emailInput"
            #emailCtrl="ngModel"
            name="email"
            [(ngModel)]="credentials.email">
      </mat-form-field>
      <mat-error
          *ngIf="emailCtrl.dirty && emailCtrl.hasError('required')"
          i18n="Email Is Required|Email is required message@@emailIsRequired">
        Email is <strong>required</strong>
      </mat-error>
      <mat-form-field>
        <!-- todo (yca): restore required attribute. omit required to show error from loginService -->
        <input
            type="password"

            matInput
            placeholder="Password"
            i18n-placeholder="Password input"
            #passwordCtrl="ngModel"
            name="password"
            [(ngModel)]="credentials.password">
      </mat-form-field>
      <mat-error
          *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')"
          i18n="password Is Required|Password is required message@@passwordIsRequired">
        Password is <strong>required</strong>
      </mat-error>
      <mat-card-actions fxLayoutAlign="end">
          <button mat-fab color="primary" type="submit" [disabled]="form.invalid">
              <mat-icon aria-hidden="true">send</mat-icon>
            </button>
      </mat-card-actions>
    </form>
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-spinner *ngIf="loading$ | async"></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>
