<mat-card *ngIf="!!(bookList$ | async)">

  <mat-card-title i18n>List of Books</mat-card-title>
  <mat-card-content>
    <div class="container">
        <mat-form-field>
            <input
            matInput
            placeholder="Filter Page"
            i18n-placeholder="Filter book input|Filter book input placeholder@@filterBookInput"
            name="search"
            type="search"
            #searchTerm="ngModel"
            [(ngModel)]="filterText"
            (input)="filterPage(searchTerm.value)">
        </mat-form-field>
      <div class="table-container">
        <mat-table #table [dataSource]="bookList$ | async">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef i18n> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="year">
            <mat-header-cell *matHeaderCellDef i18n> Year </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.year}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="color">
            <mat-header-cell *matHeaderCellDef i18n> Color </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.color}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" [style.background-color]="row.color"></mat-row>
        </mat-table>
      </div>
      <!-- todo (yca): use paginator instead and appropriate flexbox -->
      <div class="action-container" fxLayout="row">
        <button mat-button (click)="previous()" i18n>Previous</button>
        <div style="padding-top:0.6em">
          <span i18n>Page</span>&nbsp;{{pageInfo.currentPage}}&nbsp;
          <span i18n>/</span> &nbsp;{{pageInfo.totalPageCount}}&nbsp;
          <span i18n>Total</span> &nbsp; {{pageInfo.totalBookCount}}</div>
        <button mat-button (click)="next()" i18n>Next</button>
      </div>

    </div>
  </mat-card-content>
</mat-card>

