

.action-container {
  margin-top: 5em;
  text-align: right;
}

mat-card-title {
  text-transform: uppercase; // see material design guideline
}

mat-card {
  max-width: 80%;
  margin: 4em auto;
  text-align: center;
}

mat-card-content {
  padding: 0 2em;
}
