<mat-toolbar color="primary">
  <button mat-button (click)="home()" class="logo-container">
    <div class="logo"></div>
  </button>

  <h1 i18n="site Header|Website title" class="fill-remaining-space">My Book Library For Crane PI</h1>
  <app-profile></app-profile>
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item (click)="gotoBookList()" i18n>Books</button>
</mat-menu>
