:host{

  .fill-remaining-space {
    flex: 1 1 auto;
  }
  .logo-container {
    padding: 0 4em;
    .logo {
      height: 60px;
      width: 60px;
      background: url("../../../assets/images/apple-icon-60x60.png");
    }
  }
}
